{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Password change</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        <label class="form-label">Old password</label>
        {{ form.old_password|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        <label class="form-label">New password</label>
        {{ form.new_password1|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        <label class="form-label">New password confirmation</label>
        {{ form.new_password2|add_class:"form-control" }}
      </div>
      <button class="btn btn-success" type="submit">Change</button>
    </form>
  </div>
</div>
{% endblock %}
